<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">

      <title>Assignment</title>
      <link rel="stylesheet"
            href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
      <script defer
              src="https://code.getmdl.io/1.2.1/material.min.js"></script>
      <link rel="stylesheet"
            href="/css/main.css">
</head>

<body>
      <header>
            <h1>PAN Extraction</h1>
      </header>

      <main>
            <p>Welcome to PAN Extraction page. Upload a text file with raw data to get masked PAN data.</p>

            <form action="/profile"
                  method="post"
                  enctype="multipart/form-data"
                  target="dummyframe"
                  id="myForm">
                  <input type="file"
                         name="rawData"
                         id="rawData"
                         accept=".txt, .doc, .docs, .dox" />
                  <input type="submit"
                         onclick="$('#result1').remove()" />
            </form>
            <iframe width="0"
                    height="50"
                    border="0"
                    name="dummyframe"
                    id="dummyframe"></iframe>

      </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>